{% extends 'base.html' %}
{% load static %}
{% block content %}
<p class="mt-4">
Kæru félagar. Þá er komið að því. Í 20 skiptið fer Peyjabankinn í loftið. Það er greinilega þannig að handboltaóðir vilja gera stórmótin skemmtilegri með því að taka þátt í bankanum.
</p>
<p>
Í ár verður þetta eins og í fyrra. Sömu leikreglur.
Til þess að öðlast fulla þátttöku verður þú að greiða 2.500 krónur (sem er sama gjald og í 3 síðustu skipti) inn á reikning 582-26-763 kt 120777-4759
</p>
<img src="{% static 'img/front.jpg' %}" class="img-fluid" >
{% endblock content %}
