{% extends 'base.html' %}
{% block content %}
<h2>Leikreglur</h2>
<ul>
    <li>
        Hægt er að gera breytingar leikjum í riðlum þangað til fyrsti leikur byrjar, eftir það er læst á breytingar á aukaspurningum og leiki í riðlum.
    </li>
    <li>
        Þegar leikir í milliriðlum koma inn er opið fyrir breytingar þangað til fyrsti leikur byrjar, eftir það læsast allir leikir í milliriðlum.
    </li>
    <li>
        Eingöngu fást stig ef giskað er á rétt úrslit.
        <ul>
            <li>5 stig fást fyrir að hafa báðar tölur réttar</li>
            <li>3 stig fást fyrir að hafa aðra töluna rétta (Aðeins ef tippað er á réttan sigurvegara)</li>
            <li>1 stig fæst ef úrslitin eru rétt</li>
        </ul>
    </li>
    <li>
        Fyrir hverja rétta aukaspurningu fást 5 stig.
    </li>
</ul>
{% endblock content %}
