{% extends 'base.html' %}
{% load static %}
{% block scriptblock %}
    <link rel="stylesheet" href='{% static "css/scores.css" %}'/>
{% endblock scriptblock %}
{% block content %}
<table class="table sortable">
    <thead class="thead-dark">
        <tr class="row">
            <th class='col'>#</th>
            <th class='col'>Keppandi</th>
            <th class='col'>Stig</th>
        </tr>
    </thead>
    <tbody>
{% for item in userscores%}
    <tr class='row {% ifequal item.0 user.username %}table-active{% endifequal %}'>
        <td class='col'>{{forloop.counter}}</td>
        <td class='col'>{{item.0}}</td>
        <td class='col'>{{item.1 | default_if_none:'0'}}</td>
    </tr>
{% endfor %}
    </tbody>
</table>
{% endblock %}
